{% extends 'adminBase.html' %}

{% block content %}

<section class="my-profile">
    <article class="my-details">
        <div class="my-member-tittle profile-tittle">
            <div class="tooltip__admdash">
                <span onclick="welfareSummaryStats('welfareSummaryStatistics')">Welfare Summary Statistics</span>
                <span onclick="welfareSummaryStats('welfareTransactionSummary')">Welfare Transaction Summary</span>
                <span onclick="welfareSummaryStats('welfareChartsSummary')">Welfare Charts Summary</span>
            </div>
        </div>
        <div class="welfareSummaryStats" id="welfareSummaryStatistics">
            <div class="centeredStats">
                <div class="summary">
                    <p>Welfare Income On Shares Contributed(Balance)</p>
                    <div class="valuedataStats">
                        <p>{{ welfare_shares_balance }}<span class="selected-currency"> KES</span></p>
                        <figure id="profile-container" style="width: 40px; height: 40px; overflow: hidden; border-radius: 50%;margin-left:1vw;">
                            <img id="profile-image" src="../../static/images/pics/deposit-ico.svg" alt="Profile Picture" style="width: 100%; height: 100%; object-fit: cover; border-radius: 50%;" />
                        </figure> 
                    </div>
                </div>
    
                <div class="summary">
                    <p>Welfare Income On Benevolent Contributed(Balance)</p>
                    <div class="valuedataStats">
                        <p>{{ welfare_benevolent_balance }} <span class="selected-currency"> KES</span></p>
                        <figure id="profile-container" style="width: 40px; height: 40px; overflow: hidden; border-radius: 50%;margin-left:1vw;">
                            <img id="profile-image" src="../../static/images/pics/deposit-ico.svg" alt="Profile Picture" style="width: 100%; height: 100%; object-fit: cover; border-radius: 50%;" />
                        </figure> 
                    </div>
                </div>
    
                <div class="summary">
                    <p>Welfare Income From Loan Interest(Balance)</p>
                    <div class="valuedataStats">
                        <p>{{ welfare_loanInterest_balance }} <span class="selected-currency"> KES</span></p>
                        <figure id="profile-container" style="width: 40px; height: 40px; overflow: hidden; border-radius: 50%;margin-left:1vw;">
                            <img id="profile-image" src="../../static/images/pics/deposit-ico.svg" alt="Profile Picture" style="width: 100%; height: 100%; object-fit: cover; border-radius: 50%;" />
                        </figure>
                    </div> 
                </div>
    
                <div class="summary">
                    <p>Active Members</p>
                    <div class="valuedataStats">
                        <p>{{ welfare_activeMembers }} <span class="selected-currency"> KES</span></p>
                        <figure id="profile-container" style="width: 40px; height: 40px; overflow: hidden; border-radius: 50%;margin-left:1vw;">
                            <img id="profile-image" src="../../static/images/pics/deposit-ico.svg" alt="Profile Picture" style="width: 100%; height: 100%; object-fit: cover; border-radius: 50%;" />
                        </figure> 
                    </div>
                </div>
            </div>
        </div>
        <div class="welfareSummaryStats none" id="welfareTransactionSummary">
            <p>WTS</p>
        </div>
        <div class="welfareSummaryStats none" id="welfareChartsSummary">
            <p>WCS</p>
        </div>

        <div class="overlaypvwUpdate overlay" id="overlaypvwUpdate">
            <div class="popuppvwUpdate popup">
                <div class="closebtn">
                    <a href="#" id="popupCloseButtonpvwUpdate"><i class="fa fa-times" aria-hidden="true"></i></a>
                    <a href='#' id="processTitleLink" class="processTitleLink">PVW SET MonthlyUpdate Review</a>
                </div>
                <div id="pvwMonthlyUpdatePopupContent">
                    <!-- Member details will be shown here -->
                </div>
                <button id="popupPrevButtonpvwUpdate" style="display: none;">Back</button>
                <button id="popupNextButtonpvwUpdate">Next</button>
                <button id="popupRejectButtonpvwUpdate" class="popupRejectButtonpvwUpdate" style="display: none;">
                    <a href='#' id="rejectLinkpvwUpdate" class="rejectLink" data-rejectPvwMonthlyUpdate-url="">Revert</a>
                </button>
                <button id="popupApproveButtonpvwUpdate" style="display: none;">
                    <a href="#" id="approveLinkpvwUpdate" class="approveLink">Update</a>
                </button>               
            </div>
        </div>
        
    </article>

    <!-- <article class="details-intro">
        <div class="my-details-tittle profile-tittle">
            <a href="{% url 'pvwUpdateContributions' %}">PVW Update Contributions</a>
        </div>
    </article> -->
    <div class="my-details-tittle profile-tittle">
        <button id="getPvwContributionButtons" class="getPvwContributionButtons">PVW Update Contributions</button>
    </div>

</section>

<script>
    function welfareSummaryStats(statementType) {
        if (statementType === 'welfareSummaryStatistics') {
            document.getElementById('welfareSummaryStatistics').style.display = 'block';
            document.getElementById('welfareTransactionSummary').style.display = 'none';
            document.getElementById('welfareChartsSummary').style.display = 'none';
        } else if (statementType === 'welfareTransactionSummary') {
            document.getElementById('welfareSummaryStatistics').style.display = 'none';
            document.getElementById('welfareTransactionSummary').style.display = 'block';
            document.getElementById('welfareChartsSummary').style.display = 'none';
        } else {
            document.getElementById('welfareSummaryStatistics').style.display = 'none';
            document.getElementById('welfareTransactionSummary').style.display = 'none';
            document.getElementById('welfareChartsSummary').style.display = 'block';
        }
    }
</script>


<style>
   
    .details-intro {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
        padding: 1vw;
    }
    .profile-tittle a {
        padding: 1vw;
        border: none;
        background-color: #066638;
        color: #fff;
        cursor: pointer;
        font-weight: bold;
        border-radius: 10px;
    }
    .form-group {
        background-color: whitesmoke;
    }

        .tooltip__admdash {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        .tooltip__admdash span {
            background-color: whitesmoke;
            box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.1);
            padding: 1vw 2vw;
            cursor: pointer;
        }
   .none {
    display: none;
   }
   
   .summary {
        border: 1px solid whitesmoke;
        box-shadow: inset 0 4px 6px rgba(144, 140, 140, 0.1);
        padding: 1vw 2vw;
        display: flex;
        justify-content: space-between;
        flex-flow: column nowrap;
        gap: 20px;
   }
   .summary p {
        text-align: center;
        font-weight: bold;
        color: #333;
   }
   .centeredStats {
        display: grid;
        gap: .8rem;
        --min-column-size: 20rem;
        grid-template-columns: repeat(auto-fit, minmax(min(var(--min-column-size), 100%), 1fr)); 
   }
   .valuedataStats {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-flow: row wrap;
   }
</style>


<!-- Popup Container -->

<!-- failed request -->
<!-- <div class="hidddd" {% if invalid_request %}style="display: block;"{% endif %}>
    {% if invalid_request %}
        <script>
            Swal.fire({
                icon: "error",
                title: "Oops...",
                text: "Failed to Updated Contributions!",
                footer: '<a href="#">Why do I have this issue?</a>'
            });
        </script>
    {% endif %}
</div>
<div class="overlay" {% if invalid_request %}style="display: block;"{% endif %}></div> -->



<!-- <div class="my-details-data">     
    <div class="form-group">
        <p>Accounts Pending Approval: {{unapproved_accounts_count}}</p>
        <p>Approved Accounts: {{approved_accounts_count}}</p>
    </div>
    <div class="form-group">
        <p>Total Benovelent: {{ benovelent_sum }}</p>
    </div>
    
    <div class="form-group">
        <p>Total Shares: {{ shares_sum }}</p>
    </div>
    
    <div class="form-group">
        <p>Total Normal Loan: {{ normal_loan_sum }}</p>
    </div>
    
    <div class="form-group">
        <p>Total Salary Advance Loan: {{ salary_advance_loan_sum }}</p>
    </div>
    
    <div class="form-group">
        <p>Total Outstanding Loan: {{ loan_outstanding_sum }}</p>
    </div>
    
    <div class="form-group">
        <p>Total Welfare: {{ welfare_sum }}</p>
    </div>
</div> -->

<style>
    .approvals-section {
        padding: 1vw;
    }
    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        justify-content: center;
        align-items: center;
        z-index: 1;
    }
    .popup {
        position: relative;
        background-color: #fff;
        padding: 20px;
        width: 90%;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        text-align: center;
    }
    .popup:before {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em; 
    }
    .popup button,
    .popupRejectButtonadv,
    .popupRejectButtonwel ,
    .popupRejectButtonclm ,
    .popupRejectButtonpvwUpdate {
        background: #066638;
        border: none;
        padding: 10px 15px;
        color: white;
        font-weight: bold;
        letter-spacing: .1rem;
        margin-top: 1.5vw;
    }
    .popupRejectButtonadv,
    .popupRejectButtonwel,
    .popupRejectButtonAcc, 
    .popupRejectButtonclm ,
    .popupRejectButtonpvwUpdate {
        background: darkred !important;
    }
    .closebtn {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        background: none;
        border: none;
        font-size: 20px;
        cursor: pointer;
        width:100%;
        background: whitesmoke;
        display: flex;
        justify-content: space-between;
        padding: 1vw;
        align-items: center;
    }
    .fa-times {
        color: red;
    }
    .approveLink,
    .rejectLink {
        color: #fff;
    }
    .processTitleLink {
        color: #066638;
        font-weight: bold;
    }
    .pending-approval {
        display: none;
    }
    .pending-approvaladv {
        display: none;
    }
    .pending-approvalwel {
        display: none;
    }
    .pending-approvalclm {
        display: none;
    }
    .pending-approvalpvwUpdate {
        display: none;
    }
    .pending-approval .profile-tittle {
        margin-top: 1.5vw;
    }
    .pending-approval.active {
        display: block;
    }
    .pending-approvaladv.active {
        display: block;
    }
    .pending-approvalwel.active {
        display: block;
    }
    .pending-approvalclm.active {
        display: block;
    }
    .pending-approvalpvwUpdate.active {
        display: block;
    }
</style>

<style>
    .admin-approvals {
        display: none;
    }
    .admin-approvals.active {
        display: block;
    }
</style>


<style>
    .unblockMember,
    .approveMember,
    .approveBenevolentClaim,
    .getPvwContributionButtons {
        font-weight: bold;
        letter-spacing: 1px;
    }
    .unblockMember {
        color: darkred;
    }
    .approveMember,
    .approveBenevolentClaim,
    .getPvwContributionButtons {
        color: #066638;
    }
    .getPvwContributionButtons {
        padding: 1vw 2vw;
        border: none;
        cursor: pointer;
    }
</style>





{% endblock %}