.fc3 {
    color: var(--fc3);
    text-decoration: none;
}

.fc4 {
    color: var(--fc4);
    text-decoration: none;
}

.custom-danger,
.custom-danger:hover {
    background-color: var(--fc3);
    color: var(--fc4);
}

.custom-danger:hover {
   background-color: var(--fc2);
}

.active-link {
    font-weight: bold;
    text-decoration: none;
    color: var(--fc3);
}

header a {
    text-decoration: none;
    font-weight: 600;
    padding: 5px 25px;
    color: var(--fc4);
}

.btn-close-red,
.text-red {
    color: red !important;
}