{% extends 'authBase.html' %}
{% load crispy_forms_tags %}

{% block content %}


<!-- member login container start -->
<section class="login-container">
    <p id="loginHeader" class="login-header">Member Portal</p>

    <!-- login form start -->
    <form action="{% url 'login' %}" method="post" class="form">
        {% csrf_token %}

        <div class="input_group">
            <input type="text" name="username" placeholder="Username" class="input_text" autocomplete="off" required>
        </div>            
        <div class="input_group">
            <input type="password" name="password" id="logPassword" placeholder="Password" class="input_pass" autocomplete="off" required>
            <i class="fas fa-eye" id="showPasswordIcon"></i>
        </div>                       
        <div class="extended-login-form">
            <div class="remember-me">
                <input type="checkbox" name="rememberMe" id="rememberMeCheckbox">
                <label for="rememberMeCheckbox" class="square-checkbox">Remember Me</label>
            </div>
            <div class="forgot-pass">
                <a href="{% url 'custom_password_reset' %}" class="forgotpassword">Forgot password?</a>
            </div>
        </div>
        <div class="input_group">
            <input type="submit" class="login-submit-btn" value="Login Now">
        </div>
        <div class="login-footer">
            <p>Don't have an account?</p>
            <a href="{% url 'signup' %}">Create an account</a>
        </div>

    </form> 
    <!-- login form end -->
    
</section>
<!-- member login container end -->


<!-- Popup Containers start -->

<!-- failed login -->
<div class="hidddd" {% if invalid_login %}style="display: block;"{% endif %}>
    {% if invalid_login %}
        <script>
            Swal.fire({
                icon: "error",
                title: "Oops...",
                text: "Invalid login credentials!",
                footer: '<a href="#">Why do I have this issue?</a>'
            });
        </script>
    {% endif %}
</div>
<div class="overlay" {% if invalid_login %}style="display: block;"{% endif %}></div>

<!-- pendng approval -->
<div class="hidddd" {% if pending_approval %}style="display: block;"{% endif %}>
    {% if pending_approval %}
        <script>
            Swal.fire({
                icon: "error",
                title: "Oops...",
                text: "Account Pending Approval!",
                footer: '<a href="#">Why do I have this issue?</a>'
            });
        </script>
    {% endif %}
</div>
<div class="overlay" {% if pending_approval %}style="display: block;"{% endif %}></div>

<!-- blocked account -->
<div class="hidddd" {% if blocked_account %}style="display: block;"{% endif %}>
    {% if blocked_account %}
        <script>
            Swal.fire({
                icon: "error",
                title: "Oops...",
                text: "Your account is Blocked. Please contact the administrator for unblocking.",
                footer: '<a href="#">Why do I have this issue?</a>'
            });
        </script>
    {% endif %}
</div>
<div class="overlay" {% if blocked_account %}style="display: block;"{% endif %}></div>

<!-- success account created -->
{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <script>
                Swal.fire({
                    icon: "success",
                    title: "Congratulations!",
                    text: "Your account has been successfully created. To proceed, kindly complete the required declaration in the PDF document sent to your email. Once done, bring the filled PDF to the registrar's office for approval. Thank you!",
                    footer: '<a href="#">Why do I have this issue?</a>'
                });
            </script>
        {% endif %}
    {% endfor %}
{% endif %}

<!-- Popup Containers end -->


{% endblock %}