{% extends 'authBase.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Password Reset</h2>
    <form method="post" action="{% url 'custom_password_reset' %}" class="form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" id="custom_password_reset-btn" class="btn btn-primary btn-block mt-3">Reset Password</button>
    </form>
</div>


<style>
    .container {
        margin-top: 50px;
        padding: 2vw;
        width: 70%;
    }
    .container h2 {
        color: purple;
    }
    .container form input {
        padding: 1vw 2vw;
    }
    .container form label {
        font-size: 1rem;
        font-weight: bold;
    }
    .container button {
        background: #00afab;
        border: none;
        padding: 1vw 2vw;
        color: whitesmoke;
        font-weight: bold;
        font-size: 1rem;
    }
</style>

{% endblock %}

