{% extends 'authBase.html' %}

{% block content %}


<!-- ......................signup-page start..................... -->
<section class="signup-page">

    <!-- progress bar container -->
    <section class="signup-header">
        <div class="progressbar">
            <div class="progress" id="progress"></div>
            <div class="progress-step progress-step-active" data-title="Personal Details"></div>
            <div class="progress-step" data-title="Contact Details"></div>
            <div class="progress-step" data-title="Member Nominees"></div>
            <div class="progress-step" data-title="Next of Kin Details"></div>
            <div class="progress-step" data-title="Review"></div>
        </div>
    </section>

   <!-- multistage form steps signup inputs -->
    <section class="membership-registration-form">
        <!-- Personal details -->
        <div class="form-step form-step-active">
            <div class="progress-title">
                <p>Personal Details:</p>
            </div>
            <div class="personal-details-form-input">
                <div class="input-group">
                    <label for="surname">Surname<sup>*</sup></label>
                    <input type="text" name="surname" id="surname" required>
                    <div id="surname-error" class="input-error-div"></div>
                </div>
                <div class="input-group">
                    <label for="fname">First Name<sup>*</sup></label>
                    <input type="text" name="fname" id="fname">
                    <div id="fname-error" class="input-error-div"></div>
                </div>
                <div class="input-group">
                    <label for="onames">Other Names</label>
                    <input type="text" name="onames" id="onames">
                    <div id="onames-error" class="input-error-div"></div>
                </div>
                <div class="input-group">
                    <label for="username">Username<sup>*</sup></label>
                    <input type="text" name="username" id="username" required>
                    <div id="username-error" class="input-error-div"></div>
                </div>
                <div class="input-group">
                    <label for="gender">Gender<sup>*</sup></label>
                    <select name="gender" id="gender">
                        <option value="">Select your gender...</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                    <div id="gender-error" class="input-error-div"></div>
                </div>            
                <div class="input-group">
                    <label for="idnumber">ID Number<sup>*</sup></label>
                    <input type="number" name="idnumber" id="idnumber">
                    <div id="idnumber-error" class="input-error-div" ></div>
                </div>
                <div class="input-group">
                    <label for="dob">Date of Birth<sup>*</sup></label>
                    <input type="date" name="dob" id="dob">
                    <div id="dob-error" class="input-error-div"></div>
                </div>

                <div class="input-group">
                    <label for="position">Position<sup>*</sup></label>
                    <select name="position" id="position">
                        <option value="">Select your position...</option>
                        <option value="Grounds">Grounds</option>
                        <option value="House Keeping">House Keeping</option>
                        <option value="Kitchen">Kitchen</option>
                        <option value="Management">Management</option>
                        <option value="Reception">Reception</option>
                        <option value="Poter">Poter</option>
                        <option value="Security">Security</option>
                        <option value="Service">Service</option>
                        <option value="Stewards">Stewards</option>
                        <option value="Controls">Controls</option>
                        <option value="Bartenders">Bartenders</option>
                        <option value="Support">Support</option>
                        <option value="Other">Other</option>
                    </select>
                    <div id="position-error" class="input-error-div"></div>
                </div>

                <div class="input-group">
                    <label for="password">Password<sup>*</sup></label>
                    <div class="password-eye">
                        <input type="password" name="password" id="password" oninput="checkPasswordStrength()">
                        <i class="fas fa-eye" id="showPassword1"></i>
                    </div>
                    <div id="password-error" class="input-error-div">
                        <p id="password-strength-text"></p>
                    </div>
                    <progress id="password-strength-meter" max="100"></progress>
                </div>
                <div class="input-group">
                    <label for="confirmPassword">Confirm Password<sup>*</sup></label>
                    <div class="password-eye">
                        <input type="password" name="confirmPassword" id="confirmPassword" oninput="checkPasswordMatch()">
                        <i class="fas fa-eye" id="showPassword2"></i>
                    </div>
                    <div id="confirmPassword-error" class="input-error-div"></div>
                </div>           
            </div>
            <div class="btns-group">
                <a href="#" id="passdisabled" class="btn btn-next">Save and Continue</a>
            </div>
        </div>

        <!-- Contact details -->
        <div class="form-step">
            <div class="progress-title">
                <p>Contact Details:</p>
            </div>
            <div class="contact-details-form-input">
                <div class="input-group">
                    <label for="phoneno">Phone Number<sup>*</sup></label>
                    <input type="number" name="phoneno" id="phoneno">
                    <div id="phoneno-error" class="input-error-div"></div>
                </div>
                <div class="input-group">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email">
                    <div id="email-error" class="input-error-div"></div>
                </div>
                <div class="input-group">
                    <label for="countySelect">Home County<sup>*</sup></label>
                    <select id="countySelect">
                        <option value="" disabled selected>Select your county...</option>
                    </select>
                    <div id="countySelect-error" class="input-error-div"></div>
                </div>
                <div class="input-group">
                    <label for="subcountySelect">Sub County<sup>*</sup></label>
                    <select id="subcountySelect">
                        <option value="" disabled selected>Select your sub-county...</option>
                    </select>
                    <div id="subcountySelect-error" class="input-error-div"></div>
                </div>
                <div class="input-group">
                    <label for="wardSelect">Ward<sup>*</sup></label>
                    <select id="wardSelect">
                        <option value="" disabled selected>Select your ward...</option>
                    </select>
                    <div id="wardSelect-error" class="input-error-div"></div>
                </div>
                <div class="input-group">
                    <label for="sublocation">Sub-Location<sup>*</sup></label>
                    <input type="text" name="sublocation" id="sublocation">
                    <div id="sublocation-error" class="input-error-div"></div>
                </div>
                <div class="input-group">
                    <label for="residence">Residence<sup>*</sup></label>
                    <input type="text" name="residence" id="residence">
                    <div id="residence-error" class="input-error-div"></div>
                </div>
            </div>
            <div class="btns-group">
                <a href="#" class="btn btn-prev">Back</a>
                <a href="#" class="btn btn-next" id="mailphone">Save and Continue</a>
            </div>
        </div>

        <!-- Member Nominees  -->
        <div class="form-step"> 
            <div class="progress-title">
                <p>Member Nominees:</p>
            </div>  
            <div>
                <div id="dependants-list" class="tbl_container">
                    <table id="dependantsTable" class="tbl">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nominees/Dependants' Name</th>
                                <th>Relationship</th>
                                <th>ID Number</th>
                                <th>Contact</th>
                                <th colspan="2">Actions</th> 
                            </tr>
                        </thead>
                        <tbody id="dependantsList">
                           
                        </tbody>
                    </table>
                    <div id="dependantsList-array-error" class="input-error-div"></div>
                    <div id="dependant-duplicate-array-error" class="input-error-div"></div>
                    <div class="member-nominees-form-input">
                        <div class="input-group">
                            <label for="nameofdependant"></label>
                            <input type="text" id="nameofdependant" name="nameofdependant" placeholder="Name of Nominees/Dependants">
                            <div id="nameofdependan-error" class="input-error-div"></div>
                        </div>

                        <div class="input-group">
                            <select name="dependantrelationship" id="dependantrelationship">
                                <option value="">Select dependant relationship...</option>
                                <option value="Father">Father</option>
                                <option value="Mother">Mother</option>
                                <option value="Father In Law">Father In Law</option>
                                <option value="Mother In Law">Mother In Law</option>
                                <option value="Husband">Husband</option>
                                <option value="Wife">Wife</option>
                                <option value="Son">Son</option>
                                <option value="Daughter">Daughter</option>
                            </select>
                            <div id="gender-error" class="input-error-div"></div>
                        </div>
                        
                        <div class="input-group">
                            <label for="dependantidnumber"></label>
                            <input type="number" id="dependantidnumber" name="dependantidnumber" placeholder="ID Number/Birth Certificate Number">
                            <div id="dependantidnumber-error" class="input-error-div"></div>
                        </div>
                        <div class="input-group">
                            <label for="dependantcontact"></label>
                            <input type="number" id="dependantcontact" name="dependantcontact" placeholder="Contact">
                            <div id="dependantcontact-error" class="input-error-div"></div>
                        </div>                        
                    </div>
                    <button id="addDependant" class="dependant-btn">Add Dependant</button>
                </div>
            </div>
            <div class="btns-group">
                <a href="#" class="btn btn-prev">Back</a>
                <a href="#" class="btn btn-next">Save and Continue</a>
            </div>
        </div> 

        <!-- Next Of Kin Details -->
        <div class="form-step">
            <div class="progress-title">
                <p>Next Of Kin Details:</p>
            </div>
            <div>
                <div id="next-of-kin-list" class="tbl_container">
                    <table id="nextOfKinTable" class="tbl">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name of next of kin</th>
                                <th>Relationship</th>
                                <th>ID Number</th>
                                <th>Contact</th>
                                <th colspan="2">Actions</th> 
                            </tr>
                        </thead>
                        <tbody id="nextOfKinList">
                        </tbody>
                    </table>
                    <div id="next-of-kin-list-array-error" class="input-error-div"></div>
                    <div id="next-of-kin-duplicate-array-error" class="input-error-div"></div>
                    <div class="next-of-kin-form-input">
                        <div class="input-group">
                            <label for="nameofnextofkin"></label>
                            <input type="text" id="nameofnextofkin" name="nameofnextofkin" placeholder="Name of next of kin">
                            <div id="nameofnextofkin-error" class="input-error-div"></div>
                        </div>
                        <div class="input-group">
                            <label for="nextofkinrelationship"></label>
                            <input type="text" id="nextofkinrelationship" name="nextofkinrelationship" placeholder="Relationship">
                            <div id="nextofkinrelationship-error" class="input-error-div"></div>
                        </div>
                        <div class="input-group">
                            <label for="nextofkinidnumber"></label>
                            <input type="number" id="nextofkinidnumber" name="nextofkinidnumber" placeholder="ID Number/Birth Certificate Number">
                            <div id="nextofkinidnumber-error" class="input-error-div"></div>
                        </div>
                        <div class="input-group">
                            <label for="nextofkincontact"></label>
                            <input type="number" id="nextofkincontact" name="nextofkincontact" placeholder="Contact">
                            <div id="nextofkincontact-error" class="input-error-div"></div>
                        </div>
                    </div>
                    <button id="nextOfKinBtn" class="next-of-kin-btn">Add Next of Kin</button>
                </div>
            </div>
            <div class="btns-group">
                <a href="#" class="btn btn-prev">Back</a>
                <a href="#" class="btn btn-next">Save and Continue</a>
            </div>
        </div>
        
        <!-- Review section -->
        <div class="form-step" >
            <div class="progress-title">
                <p>Review of Form Data:</p>
            </div>

            <div id="reviewOfFormData" class="html_to_pdf" >

            </div>

            <p class="review-p">
                <label>
                    <input type="checkbox" name="agreement" value="accepted" required>
                    By checking this box, you confirm that your data will be saved and you agree with our <a href="#">Terms and Conditions</a>.
                </label>
            </p>
            <div class="btns-group">
                <a href="#" class="btn btn-prev">Back</a>
                <!-- <button type="submit" id="submitFormButton" class="btn btn-submit">Submit Request</button> -->
                <!-- Add a button or trigger to initiate the PDF generation and form submission -->
                <button type="submit" id="submitFormButton" class="btn btn-submit">Submit Request</button>
            </div>
        </div>

    </section>

    <!-- Signup preloader -->
    <div id="preloader" style="display: none;">
        <div class="lds-spinner">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <p class="lds-text">Creating account...</p>
    </div>
    
    
</section>
<!-- .......................signup-page end..................... -->



<!-- 
<script>
    // SEND DATA TO DJANGO BACKEND
    document.addEventListener('DOMContentLoaded', function () {  
        document.getElementById('submitFormButton').addEventListener('click', function (event) {
            event.preventDefault(); 

            if (event.target.id === 'submitFormButton') {

                fetch(`{% url 'save_form_data' %}`, {
                    method: 'POST',
                    headers: { 
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCookie('csrftoken'),
                    },
                    body: JSON.stringify({ formData }),
                })
                .then(response => response.json())
                .then(data => {
                    // Check if the form data is saved successfully
                    if (data.status === 'success') {
                        HTMLtoPDF();
                        window.location.href = data.redirect_url;
                    } else {
                        console.error('Error saving form data:', data.error);
                    }
                })
                .catch(error => {
                    console.error('Error saving form data:', error);
                });

            } else {
                alert('Submit button not clicked')
            }

        });

        // custom csrf
        function getCookie(name) {
            const cookieName = name + "=";
            const decodedCookies = decodeURIComponent(document.cookie);
            const cookieArray = decodedCookies.split(';');

            for (let i = 0; i < cookieArray.length; i++) {
                let cookie = cookieArray[i].trim();
                if (cookie.indexOf(cookieName) === 0) {
                    return cookie.substring(cookieName.length);
                }
            }
            return null;
        }

        function HTMLtoPDF() {

            var doc = new jsPDF();

            var HTMLelement = $('.html_to_pdf').html()
            
            doc.fromHTML(HTMLelement, 10, 10, {
               'width' : 190
            })
          
            doc.save('PvwApprovalPdf.pdf');
        }
        
    });
</script> -->

<script>
    // SEND DATA TO DJANGO BACKEND
    document.addEventListener('DOMContentLoaded', function () {  
        document.getElementById('submitFormButton').addEventListener('click', function () {
            
            // Show preloader while waiting for the backend response
            showPreloader();
            
            if (event.target.id === 'submitFormButton') {
                
                fetch(`{% url 'save_form_data' %}`, {
                    method: 'POST',
                    headers: { 
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCookie('csrftoken'),
                    },
                    body: JSON.stringify({ formData }),
                })
                .then(response => response.json())
                .then(data => {
                    // Check if the form data is saved successfully
                    if (data.status === 'success') {
                        window.location.href = data.redirect_url;
                    } else {
                        console.error('Error saving form data:', data.error);
                    }
                })
                .catch(error => {
                    console.error('Error saving form data:', error);
                })
                .finally(() => {
                    // Hide preloader after receiving the backend response (success or error)
                    hidePreloader();
                });;
            
            } else {
                alert('Submit button not clicked');
                // Hide preloader if there's an issue with form submission
                hidePreloader();
            }        
            
        });
        
        // custom csrf
        function getCookie(name) {
            const cookieName = name + "=";
            const decodedCookies = decodeURIComponent(document.cookie);
            const cookieArray = decodedCookies.split(';');

            for (let i = 0; i < cookieArray.length; i++) {
                let cookie = cookieArray[i].trim();
                if (cookie.indexOf(cookieName) === 0) {
                    return cookie.substring(cookieName.length);
                }
            }
            return null;
        }
        
        function showPreloader() {
            // Show the preloader by setting its display property to 'block'
            document.getElementById('preloader').style.display = 'block';
        }

        function hidePreloader() {
            // Hide the preloader by setting its display property to 'none'
            document.getElementById('preloader').style.display = 'none';
        }
        
    });
</script>
<!-- <script>
    // SEND DATA TO DJANGO BACKEND
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('submitFormButton').addEventListener('click', function (event) {
            event.preventDefault();

            // Show preloader while waiting for the backend response
            showPreloader();

            if (event.target.id === 'submitFormButton') {

                fetch(`{% url 'save_form_data' %}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCookie('csrftoken'),
                    },
                    body: JSON.stringify({ formData }),
                })
                .then(response => response.json())
                .then(data => {
                    // Hide preloader after receiving the backend response
                    hidePreloader();

                    // Check if the form data is saved successfully
                    if (data.status === 'success') {
                        HTMLtoPDF();
                        window.location.href = data.redirect_url;
                    } else {
                        console.error('Error saving form data:', data.error);
                    }
                })
                .catch(error => {
                    // Hide preloader in case of an error
                    hidePreloader();

                    console.error('Error saving form data:', error);
                });

            } else {
                alert('Submit button not clicked');
                // Hide preloader if there's an issue with form submission
                hidePreloader();
            }

        });

        // custom csrf
        function getCookie(name) {
            const cookieName = name + "=";
            const decodedCookies = decodeURIComponent(document.cookie);
            const cookieArray = decodedCookies.split(';');

            for (let i = 0; i < cookieArray.length; i++) {
                let cookie = cookieArray[i].trim();
                if (cookie.indexOf(cookieName) === 0) {
                    return cookie.substring(cookieName.length);
                }
            }
            return null;
        }

        function HTMLtoPDF() {
            var doc = new jsPDF();
            var HTMLelement = $('.html_to_pdf').html();

            doc.fromHTML(HTMLelement, 10, 10, {
                'width': 190
            });

            doc.save('PvwApprovalPdf.pdf');
        }

        function showPreloader() {
            // Show the preloader by setting its display property to 'block'
            document.getElementById('preloader').style.display = 'block';
        }

        function hidePreloader() {
            // Hide the preloader by setting its display property to 'none'
            document.getElementById('preloader').style.display = 'none';
        }
    });
</script> -->



<style>
    .main-auth {
        background-image: none;
        padding: 6vw 0;
    }
</style>

{% endblock %}