{% extends 'membersBase.html' %}

{% block content %}

<section class="container account-section">

    <article class="summaries">

        <div class="acc-sum-title-head profile-tittle">
            <p class="p-title">Account Summary :</p>
            <div class="tran-sammary-table-icons">
                
            </div>
        </div>

        <summary class="account-summary my-accounts">

            <div class="summary">
                <p>Total Savings</p>
                <div class="valuedata">
                    <p>{{ shares_balance }}<span class="selected-currency"> KES</span></p>
                    <figure id="profile-container" style="width: 40px; height: 40px; overflow: hidden; border-radius: 50%;">
                        <img id="profile-image" src="../../static/images/pics/deposit-ico.svg" alt="Profile Picture" style="width: 100%; height: 100%; object-fit: cover; border-radius: 50%;" />
                    </figure> 
                </div>
            </div>

            <div class="summary">
                <p>Outstanding Loan Principal</p>
                <div class="valuedata">
                    <p>{{ outstanding_loan_principal }} <span class="selected-currency">KES</span></p>
                    <figure id="profile-container" style="width: 40px; height: 40px; overflow: hidden; border-radius: 50%;">
                        <img id="profile-image" src="../../static/images/pics/credit.svg" alt="Profile Picture" style="width: 100%; height: 100%; object-fit: cover; border-radius: 50%;" />
                    </figure> 
                </div>
            </div>

            <div class="summary">
                <p>Outstanding Loan Interest</p>
                <div class="valuedata">
                    <p>{{ outstanding_loan_interest }} <span class="selected-currency">KES</span></p>
                    <figure id="profile-container" style="width: 40px; height: 40px; overflow: hidden; border-radius: 50%;">
                        <img id="profile-image" src="../../static/images/pics/withdraw-icon.svg" alt="Profile Picture" style="width: 100%; height: 100%; object-fit: cover; border-radius: 50%;" />
                    </figure> 
                </div>
            </div>

        </summary>

    </article>

    <article class="tbl_container">

        <div class="recent-tran-table-head profile-tittle">
            <p class="p-title">Recent Activity :</p>
            <div class="tran-sammary-table-icons">
                <i class='bx bx-filter' style="font-size: 2rem;margin-top:2px"></i>
                <i class='bx bxs-download' style="font-size: 1.3rem;"></i>
                <i class='bx bxs-printer' style="font-size: 1.2rem;"></i>
            </div>
        </div>

        <table class="tbl">
            <thead>
                <tr>
                    <th>Tran Date</th>
                    <th>Description</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                {% if transactions %}
                    {% for transaction in transactions %}
                        <tr>
                            <td>{{ transaction.posting_date }}</td>
                            <td>{{ transaction.description }}</td>
                            <td>
                                {% if transaction.description == "Benevolent Claim successfully submitted" %}
                                    <strong> - </strong>
                                {% elif transaction.credit %}
                                    {{ transaction.credit }}
                                {% elif transaction.debit %}
                                    -{{ transaction.debit }}
                                {% else %}
                                    0.00
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="3">You don't have any recent activity at the moment.</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
          
    </article>

</section>

{% endblock %}