{% extends 'membersBase.html' %}

{% block content %}

<section class="my-profile">
    <article class="my-details">
        <div class="my-details-tittle profile-tittle">
            <p class="p-title" >My Profile Details :</p>
        </div>
        <div class="my-details-data">
            <div class="form-group">
                <label for="fullname">Full Name</label>
                <input type="text" value="{{ current_user.member.personal_details.surname }} {{ current_user.member.personal_details.fname }} {{ current_user.member.personal_details.onames }} " readonly>
            </div>        
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" value="{{ current_user.member.personal_details.username }}" readonly>
            </div>
            <div class="form-group">
                <label for="memberno">Member Number</label>
                <input type="text" value="{{ current_user.member_number }}" readonly>
            </div>
            {% if current_user.email %}
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" value="{{ current_user.email }}" readonly>
            </div>
            {% endif %}
            <div class="form-group">
                <label for="phoneno">Phone Number</label>
                <input type="text" value="{{ current_user.member.contact_details.phoneno }}" readonly>
            </div>
            <div class="form-group">
                <label for="idnumber">ID Number</label>
                <input type="text" value="{{ current_user.member.personal_details.idnumber }}" readonly>
            </div>
            <div class="form-group">
                <label for="position">Position</label>
                <input type="text" value="{{ current_user.member.personal_details.position }}" readonly>
            </div>
            <div class="form-group">
                <label for="gender">Gender</label>
                <input type="text" value="{{ current_user.member.personal_details.gender }}" readonly>
            </div>
            <div class="form-group">
                <label for="dob">Date of Birth</label>
                <input type="text" value="{{ current_user.member.personal_details.dob }}" readonly>
            </div>
            <div class="form-group">
                <label for="county">County</label>
                <input type="text" value="{{ current_user.member.contact_details.county }}" readonly>
            </div>
            <div class="form-group">
                <label for="subcounty">Sub County</label>
                <input type="text" value="{{ current_user.member.contact_details.subcounty }}" readonly>
            </div>
            <div class="form-group">
                <label for="ward">Ward</label>
                <input type="text" value="{{ current_user.member.contact_details.ward }}" readonly>
            </div>
            <div class="form-group">
                <label for="sublocation">Sub Location</label>
                <input type="text" value="{{ current_user.member.contact_details.sublocation }}" readonly>
            </div>
        </div>
    </article>
    <article class="member-nominees">
        <div class="my-member-tittle profile-tittle">
            <p class="p-title" >My Dependants :</p>
        </div>
        <table class="tbl">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Relationship</th>
                    <th>ID Number/Birth Certificate Number</th>
                    <th>Contact</th>
                </tr>
            </thead>
            <tbody>
                {% for nominee in current_user.member.nominees.all %}
                    <tr>
                        <td>{{ nominee.nameofdependant }}</td>
                        <td>{{ nominee.dependantrelationship }}</td>
                        <td>{{ nominee.dependantidnumber }}</td>
                        <td>{{ nominee.dependantcontact }}</td>
                    </tr>
                {% endfor %}
                {% if not has_nominees %}
                    <tr>
                        <td colspan="4">No Dependants/Member nominees provided.</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </article>    
    <article class="next-of-kin">
        <div class="my-member-tittle profile-tittle">
            <p class="p-title" >My Next of Kin :</p>
        </div>
        <table class="tbl">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Relationship</th>
                    <th>ID Number/Birth Certificate Number</th>
                    <th>Contact</th>
                </tr>
            </thead>
            <tbody>
                {% for next_of_kin in current_user.member.next_of_kin.all %}
                    <tr>
                        <td>{{ next_of_kin.nameofnextofkin }}</td>
                        <td>{{ next_of_kin.nextofkinrelationship }}</td>
                        <td>{{ next_of_kin.nextofkinidnumber }}</td>
                        <td>{{ next_of_kin.nextofkincontact }}</td>
                    </tr>
                {% endfor %}
                {% if not has_next_of_kin %}
                    <tr>
                        <td colspan="4">No next of kin provided.</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>    
    </article> 
</section>

{% endblock %}